---
layout: vue
title: Log Viewer
---

<div id="app">
  <div class="brand" v-if="!loaded">
    {%- include brand.html -%}
  </div>
  <div class="content" id="app" v-cloak>
    <div v-if="!loaded">
      <p>
        This page is intended for developers. You can load a log file from RopeScore
        below (it will not be uploaded to the internet) to view it's contents, this can
        be useful if you run into any problems with the system, but do note that the log files
        are very technical and might be hard to understand if you are not a developer.
      </p>
      <input type="file" @change="parseFile" />
    </div>

    <div v-else>
      <div class="options">
        <button @click="reset()">Close {{ filename }}</button>
        <ul>
          <li>Types to display: </li>
          <li v-for="(_, type) in types" class="checkbox"><input type="checkbox" v-model="types[type]" /> {{ type }}</li>
        </ul>
      </div>
      <error v-for="(error, index) in filtered" :key="index" :error="error"></error>
    </div>
  </div>
</div>

<script src="{{ "/logviewer.js" | relative_url }}"></script>
