<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  {%- if page.noindex -%}
    <meta name="robots" content="noindex">
  {%- endif -%}
  <link rel="preload" href="/static/img/icon-64.png" as="image">
  <link rel="preload" href="/static/img/icon-64.webp" as="image">
  <link rel="icon" href="/static/img/icon-64.png">
  {%- seo -%}
  <!-- Stylesheets -->
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
