<div id="cookie-consent" class="px-4 py-6 bg-gray-100 hidden">
  <div class="container mx-auto">
    <h1 class="text-lg font-bold">Cookies</h1>
    <p class="mb-2">
      This site would like to use cookies to collect anonymous aggregated usage
      statistics. Read more on our
      <a href="/privacy" class="text-indigo-500 hover:text-indigo-800 underline">Privacy Page</a>
    </p>
    {%- include cookie-buttons.html -%}
  </div>
</div>

<header class="text-gray-700 body-font border-b border-gray-200 bg-white">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="/">
      <picture>
        <source srcset="/static/img/icon-80.webp" type="image/webp">
        <source srcset="/static/img/icon-80.png" type="image/png">
        <img src="/static/img/icon-80.png" class="w-10 h-10" />
      </picture>
      <span class="ml-3 text-2xl">RopeScore</span>
    </a>

    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-gray-900" href="/scoresheets">Scoresheets</a>
      <a class="mr-5 hover:text-gray-900" href="/testdata">Test Data</a>
      <a class="mr-5 hover:text-gray-900" href="https://ropescore.app" target="_blank" rel="noopener">Judging App</a>
      <!-- <a class="mr-5 hover:text-gray-900" href="/docs">Documentation</a> -->
    </nav>
  </div>
</header>
