[v-cloak] {
  visibility: hidden;
}

.content *:not(p) {
  font-family: 'Ubuntu Mono', sans-serif;
}

.item, .options {
  padding: 1em;
}

.item:not(:last-child), .options {
  border-bottom: 1px solid #ddd;
}

.options ul {
  list-style-type: none;
}

.options ul li {
  display: inline-block;
}

.item.warn {
  background-color: #fffbe5;
  border-bottom: 1px solid #fff7c3;
  border-top: 1px solid #fff7c3;
}

.item.error {
  background-color: #fff0f0;
  border-bottom: 1px solid #ffdad9;
  border-top: 1px solid #ffdad9;
}

.item.error .type, .item.error .date, .item.error .arguments span, .item.error .stack span {
  color: #ee4d50;
}

.item .date {
  float: right;
  text-decoration: underline;
}

.item .arguments span, .item .stack span {
  display: block;
}

.yellow {
  color: #f4bd00;
}

.blue {
  color: #4285f4;
}
